.rTable {
	padding: 0 1% 3% 1%;
	display: table;     
	width: 98%;     
}

.rTableRow {
  	display: table-row;
}

.rTableHeading {
	display: table-header-group;
  	background-color: #ddd;
}

.rTableCell, .rTableHead {
	display: table-cell;
	padding: 3px 10px;
	border: 2px solid #999999;
	text-align: center;
}

.rTableHeading {
	display: table-header-group;
 	background-color: #ddd;
  	font-weight: bold;
}

.rTableFoot {
	display: table-footer-group;
	font-weight: bold;
 	background-color: #ddd;
}

.rTableBody {
  	display: table-row-group;
}

.noResults {
	text-align: center;
	padding: 5% 10% 5% 10%;
}