form{
	text-align: center;
	padding: 2% 0 2% 0;
}
::-moz-placeholder {
	text-align: center;
}
#contenidorMesos {
    display: table;
    border: 2px solid #000;
    width: 300px;
    text-align: center;
    margin: 0 auto;
}
#contenidor {
    display: table;
    border: 2px solid #000;
    width: 300px;
    text-align: center;
    margin: 0 auto;
}
#fila {
    display: table-row;
}
#columna {
    display: table-cell;
    border: 1px solid #000;
    vertical-align: middle;
    padding: 10px;
}
#columna:hover {
	background-color: #66ccff;
}

