::-moz-placeholder {
	text-align: center;
}
::-webkit-input-placeholder {
	text-align: center;
}

#logo{
	text-align: center;
}

#login{
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	margin: 2% 38% 0 38%;
	border: 1px solid black;
	padding-bottom: 2%;
}

form{
	text-align: center;
}