body {
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
   -webkit-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

h1{
	font-family: Georgia, serif;
	font-size: 26px;
	font-style: italic;
	font-weight: bold;
}

#container {
	border: 1px solid black;
	margin: 1% 15% 0 15%;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	/*-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);*/
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	background-color: white;
}

#header {
	border: 1px solid black;
	margin: 1% 2% 1% 2%;
	padding: 1%;
	background-image: url("../img/header.jpg");
	height: 70px;
	background-repeat: no-repeat;
   -webkit-background-size: cover;
/*   -moz-background-size: cover;*/
   -o-background-size: cover;
   background-size: cover;
}

#content {
	border: 1px solid black;
	margin: 1% 2% 1% 2%;
	background-color: white;
}

#topButtons{
	margin-top: 2.5%;
}

#topButtons a{
	transition: 0.3s ease;
 	color: #ffffff;
 	font-size: 20px;
 	text-decoration: none;
 	padding: 20px 0;
 	margin: 0 20px;
}

#topButtons a:hover{
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	padding: 6px 0; 
}
