h1,h3{
	text-align: center;
	clear: both;
}

#add {
	float: right;
	margin-right: 1%;
	margin-top: 1%;
}

#ant{
	margin-left: 33%;
}

#seg {
	margin-left: 10%;
}

#cercador{
	cursor: pointer;
	position: absolute;
	float: left;
	margin: 1%;
}