*{
	overflow: hidden;
}
body{
	width: 70%;
	margin-left: 15%;
	border: 3px solid grey;
	border-radius: 10px;
	background-color: white;
}
header{
	border-top-left-radius:  8px;
	border-top-right-radius: 8px;
	border: 1px solid transparent;
	padding-left: 10px;
	background-size: 100% 100%;
	background-image: url(header.jpg);
}
header h1{
	font-family: 'Kreon', serif;
}
nav{
	border: 1px solid transparent;
	display: block;
	background-color: #086A87;
}
ul{
	
	list-style-type: none;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
nav li{
	float: left;
}
nav li a{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: background-color 0.5s;
}
nav li a:hover{
	background-color: #0489B1;
}
article{
	width: 81%;
	float: left;
	padding-left: 10px;
	text-align: left;
	font-size: 14px;
}
article h1{
	font-family: 'Kreon', serif;
}
aside{
	z-index: -1;
	float: right;
	width: 13%;
	padding-left: 10px;
	background: linear-gradient(#8904B1,#240B3B);
	margin-bottom: -500px;
	padding-bottom: 500px;
	
}
aside p{
	text-indent: 10px;
}
aside a{
	text-decoration: none;
	color: #01A9DB;
}
aside h4 {
	color: white;
}
footer{
	z-index: 1;
	position: relative;
	border: 1px solid transparent;
	clear: both;
	color: white;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	background: linear-gradient(#086A87,#0B2F3A);
	
}
footer ul{
	float: right;
	padding-right: 5%;
}
footer li a{
	color: white;
}
footer p.ofert{
	width: 20%;
	padding-left: 20px;
}
footer p.copy{
	text-align: center;
	font-size: 13px;
	clear: both;
}
#contenidor {
    display: table;
    border: 2px solid #000;
    width: 300px;
    text-align: center;
    margin: 0 auto;
}
#fila {
    display: table-row;
}
#columna {
    display: table-cell;
    border: 1px solid #000;
    vertical-align: middle;
    padding: 10px;
}